
  body{

    top: 0px;
    left: 0px;
    width: 1920px;
    height: 3006px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    opacity: 1;
  }

  body::before {
    content: ""; /* 伪元素需要设置 content 属性 */
    display: block; /* 将伪元素设置为块级元素，以使其占据一定的空间 */
    position: absolute; /* 使用绝对定位，以覆盖整个 body 区域 */
    z-index: -1; /*将伪元素放在 body 的底层 */

    top: 1274px;
    left: 0px;
    width: 1920px;
    height: 460px;
    background: #415165 0% 0% no-repeat padding-box;
    opacity: 1;
}


  
  .resume {
    margin-top: 40px;
    margin-left: 360px;
    margin-right: 360px;
  }

  

  /* 複寫區 */
  h1{
    top: 40px;
    left: 360px;
    width: 274px;
    height: 190px;
    /* margin-bottom: 24px; */
    text-align: left;
    font: normal normal normal 80px/95px SF Pro Text;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;

  }



  .h2{
    /* UI Properties */
    text-align: left;
    font: normal normal medium 32px/48px PingFang TC;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
  }

  .h3{

    /* UI Properties */
    text-align: left;
    font: normal normal 600 24px/36px SF Pro Text;
    letter-spacing: 0px;
    color: #A00404;
    opacity: 1;
  }

  hr{
    top: 254px;
    left: 360px;
    width: 1200px;
    height: 0px;
    border: 2px solid #000000;
    opacity: 1;
  }



  image{
    top: 302px;
    left: 360px;
    width: 324px;
    height: 324px;
    background: transparent url('img/photo-1536180931879-fd2d652efddc.png') 0% 0% no-repeat padding-box;
    opacity: 1;
  }
    
    

  h4{
    top: 1050px;
    left: 360px;
    width: 64px;
    height: 48px;
    text-align: left;
    font: normal normal medium 32px/48px PingFang TC;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
  } */

  h5{
    /* Layout Properties */
    top: 1056px;
    left: 440px;
    width: 143px;
    height: 36px;
    /* UI Properties */
    text-align: left;
    font: normal normal 600 24px/36px SF Pro Text;
    letter-spacing: 0px;
    color: #A00404;
    opacity: 1;
  }

  

  .p1{
    padding-bottom: 24px;
    padding-top: 16px;
    top: 746px;
    left: 360px;
    width: 439px;
    height: 108px;
    text-align: left;
    font: normal normal 300 24px/36px PingFang TC;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    
  }

  .p2{
    /* Layout Properties */
    top: 878px;
    left: 360px;
    width: 696px;
    height: 108px;
    /* UI Properties */
    text-align: left;
    font: normal normal 300 24px/36px PingFang TC;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
  }

  .p3{
    /* Layout Properties */
    top: 1122px;
    left: 360px;
    width: 603px;
    height: 36px;
    /* UI Properties */
    text-align: left;
    font: normal normal 300 24px/36px PingFang TC;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
  }

  .p4{
    /* Layout Properties */
    top: 1174px;
    left: 360px;
    width: 422px;
    height: 36px;
    /* UI Properties */
    text-align: left;
    font: normal normal 300 24px/36px PingFang TC;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
  }

  .photo{
    margin-bottom: 48px;
    margin-top: 48px;
  }

  block{
    /* Layout Properties */
    top: 1274px;
    left: 0px;
    width: 1920px;
    height: 460px;
    /* UI Properties */
    background: #415165 0% 0% no-repeat padding-box;
    opacity: 1;
  }



  

  